
h1{
    color: rgb(3, 13, 48);
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: rgb(3, 13, 48);
    font-family: 'Times New Roman', Times, serif;
}

h3{
    color: rgb(3, 13, 48);
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: rgb(3, 13, 48);
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: rgb(3, 13, 48);
    font-family: 'Times New Roman', Times, serif;
}

label {
    color: rgb(3, 13, 48);
    font-family: 'Times New Roman', Times, serif;
    display: block; /* Faz o label ocupar a linha inteira, jogando o input para baixo */
    margin-bottom: 5px; /* Dá um pequeno respiro entre o texto e a caixa de digitação */
}

.componentes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.componentes button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    width: auto;
}

